%h1 Listing amenities

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @amenities.each do |amenity|
      %tr
        %td= link_to 'Show', amenity
        %td= link_to 'Edit', edit_amenity_path(amenity)
        %td= link_to 'Destroy', amenity, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Amenity', new_amenity_path
