%h1 Listing metrics

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @metrics.each do |metric|
      %tr
        %td= link_to 'Show', metric
        %td= link_to 'Edit', edit_metric_path(metric)
        %td= link_to 'Destroy', metric, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Metric', new_metric_path
