= form_tag root_path, :id => 'toHome', :method => :get do |form|
  %div
%div.navbar
  %div.navbarItem.left
    = submit_tag "Home", form: "toHome", :class=>"navbarButton"
  - if current_user
    %div.navbarItem.left
      =render :partial => "/partials/gotoadmin"
  =render :partial => "/partials/loginbutton"

