= form_with(model: apartment, local: true) do |form|
  - if apartment.errors.any?
    #error_explanation
      %h2
        = pluralize(apartment.errors.count, "error")
        prohibited this apartment from being saved:
      %ul
        - apartment.errors.full_messages.each do |message|
          %li= message
  .actions
    = form.submit
